/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 ene. 2021, 21:01:47
    Author     : silvi
*/

.label-text {
    -fx-text-fill: #ededed;
}

.label-title {
    -fx-text-fill: #ededed;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #ededed;
}

.button {
    -fx-fill: #ededed;
    -fx-background-color: #ededed, #5e5e6e;
    -fx-background-insets: 0, 3 3 3 3;
}

.button:pressed {
    -fx-background-color: #ededed, #9191a1;
}

.button .glyph-icon {
    -fx-fill: #ededed;
}

.text-label {
    -fx-text-fill: #ededed;
    -fx-background-color: #ededed, #89899a ;
    -fx-background-insets: 0, 3 3 3 3;
}

.border-pane {
    -fx-background-color: #403f4a;
}

.choice-box {
    -fx-background-color: #ededed, #5e5e6e;
    -fx-background-insets: 0, 3 3 3 3;
}

.choice-box .label{
    -fx-font-size: 20;
    -fx-text-fill: #ededed;
}

.choice-box .context-menu {
    -fx-text-fill: #ededed;
    -fx-pref-width: 425;
    -fx-background-color: black, #5e5e6e;
}

.choice-box .menu-item .label {
    -fx-font-size: 20;
}

/*.line-chart {
    -fx-background-color: transparent;
    -fx-tick-label-fill: #ededed;
}*/

.chart-plot-background {
    -fx-background-color: #5e5e6e;
}

.axis {
    -fx-tick-label-fill: #ededed;
}