/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2021, 5:03:00 PM
    Author     : danie
*/

.label-title {
    -fx-background-color: black, white;
    -fx-background-insets: 0, 0 0 3 0;
}

/*.label-title: black {
    -fx-fill: white;
    -fx-background-color: white, black;
    -fx-background-insets: 0, 0 0 3 0;
}*/




.button {
    -fx-background-color: black, #cccccc;
    -fx-background-insets: 0, 3 3 3 3;
}

/*.button: black {
    -fx-fill: white;
    -fx-background-color: black, #0d004c;
    -fx-background-insets: 0, 3 3 3 3;
}*/

/*.button: black .content {
    -fx-fill: white;
}*/




.text-label {
    -fx-background-color: black, #ededed;
    -fx-background-insets: 0, 3 3 3 3;
}



.border-pane {
    -fx-background-color: white;
}

/*.border-pane: black {
    -fx-background-color: #110066;
}*/


.choice-box {
    -fx-background-color: black, #cccccc;
    -fx-background-insets: 0, 3 3 3 3;
}




.separator {
    -fx-background-color: grey;
    -fx-background-radius:3;
}

/*.separator: black {
    -fx-background-color: #cccccc;
}*/


.line-chart {
    
}