.label-text {
    -fx-text-fill: black;
}

.label-title {
    -fx-border-width: 0 0 3 0;
    -fx-border-color: black;
}

.button {
    -fx-background-color: black, #cccccc;
    -fx-background-insets: 0, 3 3 3 3;
}

.button:pressed {
    -fx-background-color: black, #808080;
}

.text-label {
    -fx-background-color: black, #ededed;
    -fx-background-insets: 0, 3 3 3 3;
}

.border-pane {
    -fx-background-color: white;
}

.choice-box {
    -fx-background-color: black, #cccccc;
    -fx-background-insets: 0, 3 3 3 3;
}

.choice-box .label{
    -fx-font-size: 20;
}

.choice-box .context-menu {
    -fx-pref-width: 425;
    -fx-background-color: black, #cccccc;
}

.choice-box .menu-item .label {
    -fx-font-size: 20;
}

.separator {
    -fx-background-color: grey;
    -fx-background-radius:3;
}



